<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Components</title>
</head>
<body>
    <div id="app">
        <global-cmp></global-cmp>
        <cmp msg="test de texte" color="bleu"></cmp>
        <cmp v-bind:msg="message"></cmp>
    </div>
    

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>

        Vue.component('global-cmp', {
            template: '<div>composant global test</div>'
        })

        var cmp = { 
            template: '<p>composant local {{msg}} couleur: {{color}}</p>',
            props: ['msg', 'color']
        }

        Vue.config.devtools = true;
        var vm = new Vue({
            el: '#app',
            components: { 'cmp': cmp },
            data: {
                message: 'test props'
            },
        })
    </script>
</body>
</html>